.picExp{
    font-size: 61px;
    color: lightgray;
    word-wrap: break-word;
    width: 12rem;
    margin-top: 10%;
}

.trabalhos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 25px;
    background-color:aquamarine;
    padding: 15px;
    border-radius: 12px;
}
.descricao{
    margin: 20px 0 50px 0;
    width: 70%;
}
.trabalhos > p{
    margin: 15px 15px 0 0;
}
.descricao > span{
    color: black;
    font-weight: bold;
}



#experiencia  {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media (max-width: 800px){
    #experiencia{
        display: block;
    }

    .picExp{
        width: 100%;
        font-size: 25px;
        color: black;
    }
}
