.rodape{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.instagram {
    color: white;
    text-decoration: none;
}

.rodape p {
    padding: 20px;

}

.venda, .copy, #contato{
    margin: auto;
}
