.menu{
    padding-top: 20px;
    display: flex;
    align-items: baseline;
    align-items: center;
    justify-content:space-around;
    padding-bottom: 30px;
}

li {
    list-style-type: none;
    display: inline;
    padding: 20px;
  }

a{
    text-decoration: none;
    color:black;
}

