img{
    max-height: 250px;
    border-radius: 25%;
}

.principal{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 90%;
    margin: auto;
}

.devJr > h1{
    font-size: 45px;
}

.devJr > p {
    color: darkslategrey;
    font-size: 20px;
    padding-top: 20px;
}

@media (max-width: 800px){
    .principal {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    img{
        max-height: 17rem;
        margin-right: 20px;
    }
}
